<% if logged_in? %>
    <h1>You are logged in as <%= current_user.username %></h1>
    <%= link_to "Log Out", sessions_path, method: :delete %>
<% else %>
    <header>
        <img src="https://designshack.net/wp-content/uploads/placehold.jpg" />
        <div id="login-signup">
            <%= link_to "Log In", login_path %>
            <%= link_to "Sign Up", signup_path %>
            <%= link_to "Continue Anonymously" %>
            You won't be able to challenge others without logging in.
        </div>
    </header>

    <main>
        <section id="app-overview">
        <article id="app-description">
            <header>What is Co-Motivate?</header>
            <p>Co-Motivate is an application for motivating people to work towards their goals through small, competitive challenges!</p>
            <p>We hope that people will be inspired to work toward their larger goals from the sense of achievement gained through completing our challenges, and even if they dont, finish they may discuss any issues and approaches with other users in our challenge-specific chat forums.</p>
        </article>

        <article id="app-usecases">
            <header>Use Cases</header>
            <p>Some people might use this.</p>
            <ul>
                <li>Getting motivated to work toward your larger goals</li>
                <li>Chatting with other users to compare approaches to challenges</li>
                <li>More things probably...</li>
            </ul>
        </article>

        <article id="app-teaser">
            <header>Preview</header>
            <p>Images/slideshow of example challenges & UI</p>
        </article>

        <article id="why-account">
            <header>Why Have an Account?</header>
            <p>We hope that users will use this tool to not just crush challenges on their own, but help out others too! To do this, we want to remember all the challenges you have completed so that you can participate in the chat forums for them and help out your peers. We hope that you understand, and that you will take the time to set up your own account and participate in the Co-Motivate Community.</p>
        </article>
        </section>

        <div id="">
    </main>

    <footer>
        <div id="footer-links">
            <div id="footer-aboutlinks">
                <%= link_to "Privacy Policy" %>
                <%= link_to "Cookie Policy" %>
                <%= link_to "How Co-Motivate Works" %>
            </div>

            <div id="footer-sociallinks">
                <%= link_to "LinkedIn" %>
                <%= link_to "DevPost" %>
                <%= link_to "GitHub" %>
            </div>
        </div>

        <div id="footer-copyright">&copy; Avery Gosselin and Stephen Kaplan 2021</div>
    </footer>
<% end %>