<nav id="top-nav">
<%= link_to "Back to Home", root_path %>
<p>Past Challenges</p>
</nav>

<% current_user.challenges.each do |challenge| %>
    <li>
      <a href="<%= challenge_path(challenge) %>">
        <%= challenge.body %>
      </a>
    </li>
<% end %>

<footer>
    <div id="footer-links">
        <div id="footer-aboutlinks">
            <%= link_to "Privacy Policy" %>
            <%= link_to "Cookie Policy" %>
            <%= link_to "How Co-Motivate Works" %>
        </div>

        <div id="footer-sociallinks">
            <%= link_to "LinkedIn" %>
            <%= link_to "DevPost" %>
            <%= link_to "GitHub" %>
        </div>
    </div>

    <div id="footer-copyright">&copy; Avery Gosselin and Stephen Kaplan 2021</div>
</footer>