<div class="content">
    <p class="title">Challenge Forum</p>
    <div class="discussion">
        <div class="text challenge">
            <p class="challenge-text">What does text wrapping do? What does text wrapping do? What does text wrapping do?What does text wrapping do? What does text wrapping do? What does text wrapping do? What does text wrapping do? What does text wrapping do? What does text wrapping do? What does text wrapping do?</p>
        </div>

        <div class="comments">
            <div class="comment">
                <p class="text-area">This is such a test</p>
                <div class="icon-area">
                    <%= image_tag("flag.png", :class => "icon") %>
                    <%= image_tag("reply.png", :class => "icon") %>
                </div>
                <div class="sub-comment">
                    <p class="text-area">This is a sub comment!</p>
                    <div class="icon-area">
                        <%= image_tag("flag.png", :class => "icon") %>
                        <%= image_tag("reply.png", :class => "icon") %>
                    </div>
                </div> 

                <div class="sub-comment">
                    <p class="text-area">This is a sub comment!</p>
                    <div class="icon-area">
                        <%= image_tag("flag.png", :class => "icon") %>
                        <%= image_tag("reply.png", :class => "icon") %>
                    </div>
                </div> 
            </div>
        </div>
    </div>

    <div class="back-button blue">
            <p>< Back</p>
    </div>

</div>